{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Shopping Bag</h1>
        </div>
      </div>
      <div class="col-md-6">
        {% if bag_items %}
        {{ bag_items }}
        <br>
        {{ request.session.bag }}
        <div class="table-responsive rounded">
          <table class="table table-sm table-borderless bag-table">
            <thead class="bag-table-header">
              <tr>
                <th scope="col">Product</th>
                <!-- <th scope="col"></th> -->
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            {% for item in bag_items %}
            <tr>
              <td>
                <img class="bag-product-image" src="{{ item.product.image.url }}">
                <p><strong>{{ item.product.name }}</strong></p>
                <p>Size: {% if item.product.skate_sizes %}{{ item.size|upper }}{% elif item.product.clothes_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                <p>{{ item.product.sku }}</p>
              </td>
              <td>
                <p><strong>£{{ item.product.price }}</strong></p>
              </td>
              <td>
                <form class="form update-form" method="POST" action="">
                  {% csrf_token %}
                  <div class="input-group" id="quantity-group">
                    <div class="input-group-prepend">
                      <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ item.item_id }}"
                        id="decrement-qty_{{ item.item_id }}">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                      </button>
                    </div>
                    <input class="qty_input bag-quantity quantity-text" name="quantity" type="number" value="{{ item.quantity }}" min="1" max="99"
                      data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                    <div class="input-group-append">
                      <button class="increment-qty btn btn-black rounded-0" data-item_id="{{ item.item_id }}"
                        id="increment-qty_{{ item.item_id }}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                      {% if item.product.skate_sizes %}
                      <input type="hidden" name="bag_skate_size" value="{{ item.size }}">
                      {% elif item.product.clothes_sizes %}
                      <input type="hidden" name="bag_clothes_size" value="{{ item.size }}">
                      {% endif %}
                    </div>
                  </div>
                </form>
                <a class="update-link text-info"><small>Update</small></a>
                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
              </td>
              <td>
                <p><strong>£{{ item.product.price }}</strong></p>
              </td>
            </tr>
            {% endfor %}
            <tr>
              <td>
                <h6>Bag Total: £{{ total|floatformat:2 }}</h6>
                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                <h5>Grand Total: £{{ grand_total|floatformat:2 }}</h5>
                {% if free_delivery_delta > 0 %}
                <p class="text-danger">Your baskest is £{{ free_delivery_delta }} short for free delivery!</p>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <div class="main-button">
                  <a href="{% url 'products' %}">Continue Browsing</a>
                </div>
              </td>
              <td>
                <div class="main-button">
                  <a href="{% url 'products' %}">Checkout</a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        {% else %}
        <h4>Your bag is currently empty.</h4>
        <h5 class="continue-browsing"><a href="{% url 'products' %}"><i class="fa fa-arrow-circle-left"
              aria-hidden="true"></i>Continue browsing</a></h5>
        {% endif %}
      </div>
      <div class="col-md-6">
        <div class="right-content">

        </div>
      </div>
    </div>
  </div>
</div>
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
  // Update quantity on click
  $('.update-link').click(function(e) {
      var form = $(this).prev('.update-form');
      form.submit();
  })

  // Remove item and reload on click
  $('.remove-item').click(function(e) {
      var csrfToken = "{{ csrf_token }}";
      var itemId = $(this).attr('id').split('remove_')[1];
      var size = $(this).data('size');
      var url = `/bag/remove/${itemId}`;
      var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

      $.post(url, data)
       .done(function() {
           location.reload();
       });
  })
</script>
{% endblock %}