{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="single-product">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h1>Shopping Bag</h1>
          </div>
        </div>
        <div class="col-md-6">
          {% if bag_items %}
            <div class="table-responsive rounded"></div>
          {% else %}
            <h4>Your bag is currently empty.</h4>
            <h5 class="continue-browsing"><a href="{% url 'products' %}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Continue browsing</a></h5>
          {% endif %}
        </div>
        <div class="col-md-6">
          <div class="right-content">
            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}