{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Shopping Bag</h1>
        </div>
      </div>
      <div class="col-md-12">
        {% if bag_items %}
        <div class="d-block d-md-none">
          <div class="row">
            <div class="col">
              {% include "bag/bag-total.html" %}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {% include "bag/checkout-buttons.html" %}
              <p class="text-muted mb-5">A summary of your bag is below:</p>
            </div>
          </div>
          {% for item in bag_items %}
          <div class="row small-bag-row">
            <div class="col-12 col-sm-6 mb-2">
              {% include "bag/product-image.html" %}
            </div>
            <div class="col-12 col-sm-6 mb-2">
              {% include "bag/product-info.html" %}
              <p><strong>£{{ item.product.price }}</strong></p>
            </div>
            <div class="col-12 col-sm-6 mb-2">
              {% include "bag/quantity-form.html" %}
              <p class="subtotal-bag">Subtotal:<strong> £{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
            </div>
          </div>
          <div class="row"><div class="col"><hr></div></div>
          {% endfor %}
        </div>
        <div class="table-responsive d-none d-md-block">
          <table class="table table-sm table-borderless bag-table">
            <thead class="bag-table-header">
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            {% for item in bag_items %}
            <tr class="product-tr">
              <td>
                {% include "bag/product-image.html" %}
                {% include "bag/product-info.html" %}
              </td>
              <td>
                <p><strong>£{{ item.product.price }}</strong></p>
              </td>
              <td>
                {% include "bag/quantity-form.html" %}
              </td>
              <td>
                <p><strong>£{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
              </td>
            </tr>
            {% endfor %}
            <hr>
            <tr class="bag-costs">
              <td>
                {% include "bag/bag-total.html" %}
            </tr>
            <tr>
              <td>
                {% include "bag/checkout-buttons.html" %}
              </td>
              <td>
              </td>
            </tr>
          </table>
        </div>
        {% else %}
        <h4>Your bag is currently empty.</h4>
        <h5 class="continue-browsing"><a href="{% url 'products' %}"><i class="fa fa-arrow-circle-left"
              aria-hidden="true"></i>Continue browsing</a></h5>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
  // Update quantity on click
  $('.update-link').click(function (e) {
    var form = $(this).prev('.update-form');
    form.submit();
  })

  // Remove item with Skate Size and reload on click
  $('.remove-skate-item').click(function (e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];
    var size = $(this).data('bag_skate_size');
    var url = `/bag/remove/${itemId}/`;
    var data = {
      'csrfmiddlewaretoken': csrfToken,
      'bag_skate_size': size
    };

    $.post(url, data)
      .done(function () {
        location.reload();
      });
  })

  // Remove item with Clothes Size and reload on click
  $('.remove-clothes-item').click(function (e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];
    var size = $(this).data('bag_clothes_size');
    var url = `/bag/remove/${itemId}/`;
    var data = {
      'csrfmiddlewaretoken': csrfToken,
      'bag_clothes_size': size
    };

    $.post(url, data)
      .done(function () {
        location.reload();
      });
  })
</script>

{% endblock %}