{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="caption">
               <h2 class="banner-logo leaf">Leaf</h2><h2 class="banner-logo skateshop">Skateshop</h2>
               <div class="line-dec"></div>
               <p>For rollerbladers, by rollerbladers.<br>
                  Leaf Skateshop is the newest and fastest growing skateshop in the UK. </p>
               <div class="main-button">
                  <a href="{% url 'products' %}">Shop Now!</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Banner Ends Here -->

<!-- Featured Starts Here -->
<div class="featured-items">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="section-heading">
               <div class="line-dec"></div>
               <h1>New Items</h1>
            </div>
         </div>
         <div class="featured container no-gutter">
            <div class="row posts">
               {% for product in new_products %}
               <div class="item new col-lg-3 col-sm-6 col-xs-6">
                  <a href="single-product.html">
                     <div class="featured-item">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" alt="">
                        {% else %}
                        <h1>No Image</h1>
                        {% endif %}
                        <h4>{{ product.name }}</h4>
                        <h6>£{{ product.price }}</h6>
                     </div>
                  </a>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Featured Ends Here -->
{% endblock %}