@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.leaf {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    color: #47817F;
    display: inline;
    padding-right: 4px;
}

.skateshop {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    color: black;
    display: inline;
}

.footer-logo {
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-nav {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 155px;
    transform: translateX(-50%);
    text-decoration: none;
}

#search-container {
    bottom: 3px;
}

#search-bar, #user-item, #cart-item {
    margin-right: 0;
}

#user-icon, #cart-icon {
    display: inline;
    font-size: 1.5rem;
}

.fa-search {
    font-size: 1.4rem
}

.green-hr {
    display: none;
}

@media screen and (max-width: 991px) {

    .right-nav {
        position: fixed;
        top: 10px;
        z-index: 100;
        width: 100%;
        padding-right: 16px;
    }

    #main-nav {
        padding-top: 30px;
    }

    #search-button {
        padding-left: 10px;
        bottom: 20%;
    }

}
