@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.form-control:focus {
    border-color: #47817F;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(71, 129, 127, 0.6);
}

.head-spacer-1, .head-spacer-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.leaf {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    color: #47817F !important;
    display: inline;
    padding-right: 4px;
}

.skateshop {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    color: black;
    display: inline;
}

.footer-logo {
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-nav {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 155px;
    transform: translateX(-50%);
    text-decoration: none;
}

#search-container {
    bottom: 3px;
}

#search-bar, #user-item, #cart-item {
    margin-right: 0;
}

#user-icon, #cart-icon {
    display: inline;
    font-size: 1.5rem;
}

.fa-search {
    font-size: 1.4rem
}

.product-count {
    display: inline;
    vertical-align: top;
}

.green-hr {
    display: none;
}

.current-nav {
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-weight: 700;
    color: #bbbaba;
}

#page-pagination {
    margin: auto;
}

.single-product {
    padding-top: 60px;
}

.product-sorting {
    font-family: Roboto, sans-serif;
    display: inline-block;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #1e1e1e;
    transition: all 0.5s;
}

.product-sorting:hover {
    color: #47817F;
}

#sort-new {
    padding-left: 0px;
}

.search-container {
    float: right;
    width: 50%;
    max-width: 350px;
    margin-top: 15px;
}

.custom-select:focus {
    border-color: #47817F;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(71, 129, 127, 0.6);
}

.continue-browsing {
    padding-top: 40px;
    padding-bottom: 40px;
}

.continue-browsing, .return-to-bag a {
	font-size: 17px;
	font-weight: 700;
	color: #1e1e1e;
	margin-top: 15px;
	transition: all 0.5s;
}

.continue-browsing, .return-to-bag a:hover {
	color: #47817F;
}

.continue-browsing, .return-to-bag i {
    padding-right: 10px;
}

.size-select {
    margin-left: 10px;
	width: 200px;
	height: 44px;
	line-height: 42px;
	font-size: 14px;
	font-weight: 700;
	color: #4a4a4a;
	display: inline-block;
	text-align: center;
	outline: none;
	border: 1px solid #eee;
}

.decrement-qty, .increment-qty {
    background-color: white;
}

.quantity-select {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.quantity-text {
    margin-left: 0 !important;
}

#quantity-product-group {
    margin-top: 20px;
}

#add-to-bag-btn {
    margin-top: 20px;
    margin-left: 0;
}

.bag-product-image {
    width: 200px;
}

.bag-quantity {
    border: none;
    text-align: center;
}

.update-link, .remove-item {
    cursor: pointer;
}

.remove-item {
    padding-left: 30px;
}

tr.product-tr>td, tr.bag-costs>td {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }



.product-tr {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#continue-button {
    padding-right: 20px;
}

#checkout-button, #continue-button {
    display: inline-block;
}

.message-container {
    text-align: center;
    min-height: 42px;
    top: 0px;
    display: block;
    width: 100%;
    position: fixed;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
    min-height: 42px;
}

.toast-body {
    min-height: 42px;
}

.toast-body-text {
    margin-top: 8px;
}

.toast-capper {
    height: 2px;
}

.toast-text {
    display: inline-block;
}

.close-toast {
    padding-right: 20px !important;
}

.message-product-row {
    height: 120px;
    width: 100%;
}

.bag-notification-wrapper {
    height: 120px;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
}

.message-product-image {
    width: auto;
    height: 100px;
    float: top;
}

.message-image-container {
    display: inline-block;
    vertical-align: top;
}

.message-product-info {
    display: inline-block;
}

.message-product-name {
    height: auto;
    max-width: 160px;
}

.message-success-bag {
    background: white;
}

.checkout-head {
    margin-bottom: 40px;
}

.return-container {
    padding-left: 0px;
}

.return-to-bag {
    padding-top: 20px;
}

.checkout-summary-product {
    display: inline-block;
}

.checkout-cost {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

#payment-form {
    width: 100%;
}

#submit-button {
    padding-left: 0;
}

#submit-button, #submit-button:focus, #submit-button:hover {
    background-color: white;
    border: none;
    box-shadow: none!important;
    outline: 0;
    cursor: pointer;
}

#loading-overlay {
    /* display: none; */
    border: 1px solid black;
    background: white;
    top: 35%;
    left: 35%;
    right: 35%;
    bottom: 35%;
    position: fixed;
    width: 30%;
    height: 30%;
    z-index: 9999;
}

#loading-contents {
    text-align: center;
}

/*taken from https://loading.io/css/ */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #47817F;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
    border-radius: .25rem!important;
}

#payment-form .form-control,
#card-element {
    color: #000;

    border: 1px solid #dee2e6!important;
}

.order-section {
    padding-top: 10px;
}

.order-confirmation-wrapper {
    padding-bottom: 40px;
}

@media screen and (max-width: 991px) {

    .right-nav {
        position: absolute;
        top: 10px;
        z-index: 100;
        width: 100%;
        padding-left: 100px;
        padding-right: 124px;
    }

    #main-nav {
        padding-top: 30px;
    }

    #search-button {
        padding-left: 10px;
        bottom: 20%;
    }

    .single-product {
        padding-top: 0px;
    }

    .message-product-name {
        width: auto;
    }

}

@media screen and (max-width: 768px) {

    .right-nav {
        padding-left: 43px;
        padding-right: 54px;
    }

    .search-container {
        float: left;
        max-width: 240px;
    }

    .size-head, .head-spacer-2 {
        display: none !important;
    }
}

@media screen and (max-width: 576px) {

    .right-nav {
        padding-right: 16px;
        padding-left: 0;
    }

    .search-container {
        width: 100%;
        max-width: 100%;
    }

    .knowledge-head, .head-spacer-1 {
        display: none !important;
    }
}
